.video-stor{
    background-image: url(../../images/video.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.video-stor h2{
    color: var(--mainColor);
    font-size: 40px
}
.video-stor p{
    color: var(--BColor);
    font-size: 18px
}

.video-stor a{
    text-decoration:none;
    transition: var(--transition);
    color: var(--textColor);
    font-weight: bold;
}
.video-stor a:hover{
    color: var(--mainColor)
}