
.intro h2{
    color: var(--textColor);
    margin-bottom: 20px;

}
.intro p{
    line-height: 1.7;
    font-size: 18px;
    color: var(--BColor)!important;
}
.intro .fa{
    color: var(--mainColor);
}
.intro button{
    background-color: var(--mainColor);
    border: none;
    color: #fff;
    padding: 10px 25px;
    font-weight: bold;
    border: 2px solid transparent;
    transition: var(--transition);
}
.intro button:hover{
    background-color: white !important;
    color: var(--mainColor);
    padding: 10px 25px;
    border-color: var(--mainColor);
}
