.intro{
    height: 100vh;
}
.intro h2{
    color: var(--textColor);
    margin-bottom: 20px;

}
.intro p{
    line-height: 1.7;
    font-size: 18px;
    color: var(--BColor)!important;
}
.intro .fa{
    color: var(--mainColor);
}
.intro button{
    background-color: var(--mainColor);
    border: none;
    color: #fff;
    padding: 10px 25px;
    font-weight: bold;
    border: 2px solid transparent;
    transition: var(--transition);
}
.intro button:hover{
    background-color: white !important;
    color: var(--mainColor);
    padding: 10px 25px;
    border-color: var(--mainColor);
}
.intro img{
    width: 200px;
    margin: 0 !important;
    padding: 0 !important;
    margin: 5px !important;
}
.intro img:nth-child(1){
    width: 200px !important;
    height: 150px !important;
    margin-left: 50px !important;
    margin-top: 120px !important;
}
.intro img:nth-child(2){
    width: 300px !important;
}
.intro img:nth-child(3){
    width: 350px !important;
    height: 330px !important;
}
.intro img:nth-child(4){
    width: 190px !important;
    height: 300px;
}